@import "tailwindcss";

html, 
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  --leva-colors-highlight2: #fefefe;
  --leva-fontSizes-root: 12px;
  --leva-sizes-rootWidth: 330px;
}

body {
  background-color: black;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

#leva__root {
  background-color: white;
}
